.add-new-contact-slidein-animation {
    animation-duration: 0.5s;
    animation-name: add-new-contact-slidein;
}

@keyframes add-new-contact-slidein {
    from {
        margin-left: calc(100vw + 1212px + 16px);
    }

    to {
        margin-left: 0;
    }
}

.add-new-contact-slideout-animation {
    animation-duration: 0.5s;
    animation-name: add-new-contact-slideout;
}

@keyframes add-new-contact-slideout {
    from {
        margin-left: 0;
    }

    to {
        margin-left: calc(100vw + 1212px + 16px);
    }
}

@media(max-width: 1300px) {
    @keyframes add-new-contact-slidein {
        from {
            margin-top: calc(100vh + 760px + 16px);
        }

        to {
            margin-top: 0;
        }
    }

    @keyframes add-new-contact-slideout {
        from {
            margin-top: 0;
        }

        to {
            margin-top: calc(100vh + 760px + 16px);
        }
    }
}

.add-new-contact-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.add-new-contact-panel *,
::after,
::before {
    box-sizing: unset !important;
}

.add-new-contact-area {
    display: flex;
    height: 594px;
    width: 1212px;
}

@media(max-width: 1300px) {
    .add-new-contact-area {
        display: flex;
        flex-direction: column;
        height: 760px;
        width: 396px;
    }
}

@media(max-height: 760px) and (max-width: 396px) {
    .add-new-contact-area {
        height: 100dvh;
    }
}

@media(max-width: 396px) {
    .add-new-contact-area {
        width: 100dvw;
    }
}

.add-new-contact-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    color: white;
    background-color: rgb(42, 54, 71);
    padding: 66px 48px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 466px;
}

@media(max-width: 1300px) {
    .add-new-contact-sidebar {
        height: 352px;
        width: calc(100% - 24px);
        padding: 0;
        padding-left: 24px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: unset;
    }
}

@media(max-width: 396px) and (max-height: 760px) {
    .add-new-contact-sidebar {
        height: 302px;
    }
}

.add-new-contact-logo {
    height: 66.48px;
    width: 55.6px;
}

@media(max-width: 1300px) {
    .add-new-contact-logo {
        display: none;
    }
}

.add-new-contact-headline {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

@media(max-width: 1300px) {
    .add-new-contact-headline {
        font-size: 47px;
    }
}

.add-new-contact-text {
    font-size: 27px;
    font-weight: 400;
}

@media(max-width: 1300px) {
    .add-new-contact-text {
        font-size: 20px;
    }
}

.add-new-contact-separator {
    width: 90px;
    border: 3px solid rgb(41, 170, 227);
    border-radius: 3px;
}

.add-new-contact-input-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding-left: 72px;
    padding-right: 48px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}

@media(max-width: 1300px) {
    .add-new-contact-input-mask {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding: 0;
        width: 100%;
        flex-grow: 1;
        border-top-right-radius: unset;
        border-bottom-left-radius: 30px;
    }
}

.add-new-contact-close {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 32px;
    width: 32px;
    object-fit: contain;
    background-image: url('../assets/img/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media(max-width: 1300px) {
    .add-new-contact-close {
        background-image: url('../assets/img/icon_close_white.png');
        top: calc(-352px + 28px);
        right: 20px;
    }
}

@media(max-width: 396px) and (max-height: 760px) {
    .add-new-contact-close {
        top: calc(-352px + 28px + 48px);
    }
}

.add-new-contact-close:hover {
    cursor: pointer;
    background-image: url('../assets/img/icon_close_hover.png') !important;
}

.add-new-contact-profile-icon {
    background-image: url('../assets/img/icon_person_with.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 42px;
    width: 42px;
    padding: calc(120px - 82px);
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgb(209, 209, 209);
    margin-bottom: 48px;
}

@media(max-width: 1300px) {
    .add-new-contact-profile-icon {
        position: absolute;
        top: -60px;
    }
}

.edit-contact-profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    background-color: rgb(255, 122, 0);
    font-size: 47px;
    font-weight: 500;
}

@media(max-width: 1300px) {
    .edit-contact-profile-icon {
        position: absolute;
        top: -60px;
    }
}

.add-new-contact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media(max-width: 1300px) {
    .add-new-contact-form {
        align-items: center;
        gap: 15px;
        margin-top: 15px;
    }
}

.add-new-contact-input-area {
    display: flex;
    align-items: center;
}

.add-new-contact-input-name {
    background-image: url('../assets/img/person.svg');
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.add-new-contact-input-email {
    background-image: url('../assets/img/mail.svg');
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.add-new-contact-input-phone {
    background-image: url('../assets/img/icon_phone.png');
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.add-new-contact-input-phone::-webkit-outer-spin-button,
.add-new-contact-input-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.add-new-contact-input {
    background-repeat: no-repeat;
    background-position-x: calc(422px - 48px);
    background-position-y: center;
    height: 50px;
    width: calc(422px - 30px);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400px;
    padding-left: 24px;
    outline: none;
}

@media(max-width: 1300px) {
    .add-new-contact-input {
        background-position-x: calc(364px - 48px);
        height: 41px;
        width: calc(364px - 28px);
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media(max-width: 396px) {
    .add-new-contact-input {
        background-position-x: calc(364px - 48px - 32px);
        width: calc(364px - 28px - 32px);
    }
}

.add-new-contact-input::placeholder {
    color: rgb(215, 215, 215);
}

.add-new-contact-input:focus {
    border: 2px solid rgb(41, 170, 227);
}

.add-new-contact-button-area {
    display: flex;
    align-items: center;
    gap: 24px
}

.add-new-contact-button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 56px;
    width: 126px;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 10px;
}

@media(max-width: 1300px) {
    .add-new-contact-button-left {
        display: none;
    }
}

.edit-contact-button-left {
    height: 55px !important;
    width: 113px !important;
}

@media(max-width: 1300px) {
    .edit-contact-button-left {
        height: 51px !important;
        width: 82px !important;
        display: flex !important;
        margin-top: 15px;
    }
}

.add-new-contact-button-left-icon {
    background-image: url('../assets/img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
}

.add-new-contact-button-left:hover {
    cursor: pointer;
    color: rgb(41, 170, 227);
    border: 2px solid rgb(41, 170, 227);
    box-shadow: 0 4px 0 rgba(0 0 0 / 15%);
    transform: scale(1.01);

    .add-new-contact-button-left-icon {
        background-image: url('../assets/img/icon_close_hover.png');
    }
}

.add-new-contact-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 58px;
    width: 214px;
    font-size: 21px;
    font-weight: 700;
    background-color: rgb(42, 54, 71);
    color: white;
    border: none;
    border-radius: 10px;
}

@media(max-width: 1300px) {
    .add-new-contact-button-right {
        width: 190px;
        height: 49px;
        margin-top: 15px;
    }
}

.edit-contact-button-right {
    height: 57px !important;
    width: 111px !important;
}

@media(max-width: 1300px) {
    .edit-contact-button-right {
        height: 51px !important;
        width: 90px !important;
    }
}

.add-new-contact-button-right-icon {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.add-new-contact-button-right:hover {
    cursor: pointer;
    background-color: rgb(41, 170, 227);
    box-shadow: 0 4px 0 rgba(0 0 0 / 15%);
    transform: scale(1.01);
}