.outer{
    display: flex;
    flex: 1;
    flex-direction: column;
}

body {
    /* to be removed later */
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    padding-bottom: 24px;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 96px;
}

.panel {
    display: flex;
}

.height-48px {
    height: 48px;
}

.separator {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 24px;
    margin-right: 24px;
}

input {
    border-radius: 5px;
}

.property {
    padding-bottom: 24px;
}

.list-item-display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item-display-flex-icon-name {
    display: flex;
    align-items: center;
    gap: 6px;
}

li:hover {
    background-color: gray;
}

.contactCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    background-color: #0a168a;
}

.select-contacts-field {
    background-color: white;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;

}

#selected-contacts-circles-below {
    display: flex;
    gap: 8px;
    width: 200px;
    flex-wrap: wrap;
    padding-top: 8px;
}

.buttons_clear_create {
    display: flex;
    justify-content: flex-end;
    margin-top: 148px;
    gap: 25px;
}

.checkbox-modified {
    z-index: 0;
}

.button-create-task {
    color: white;
    border-radius: 10px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 4px;
}

.button-create-task:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.button-clear {
    border-radius: 10px;
    background-color: #F6F7F8;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 4px;
}

.button-clear:hover {
    color: #29ABE2;
    background-color: #F6F7F8;
    border-color: #29ABE2;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.all-buttons-prio {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    gap: 16px;
}

.button-prio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 136px;
    height: 56px;
    border: 0px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 20%);
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
}

.button-prio:hover {
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.button-red {
    background-color: #FF3D00;
    color: white;
}

.button-orange {
    background-color: #FFA800;
    color: white;
}

.button-green {
    background-color: #7AE229;
    color: white;
}

.containArrow {
    position: relative;
    display: flex;
    align-items: center;
    width: 20px;
    height: 14.51px;
}

.arrowRedUrgent {
    position: absolute;
}

.arrowWhiteUrgent {
    position: absolute;
}

.arrowOrangeMedium {
    position: absolute;
}

.arrowWhiteMedium {
    position: absolute;
}

.arrowGreenLow {
    position: absolute;
}

.arrowWhiteLow {
    position: absolute;
}

.white-background {
    background-color: white;
    cursor: pointer;
}

.black-font {
    color: black;
}


.border-right-white {
    border-right: white;
}

.cursor-pointer {
    cursor: pointer;
}

.z-index-1 {
    z-index: 1;
}

.z-index-n1 {
    z-index: -1;
}

.selectedSubtasks {
    margin-top: 10px;
    height: 80px;
    overflow-y: auto;
    padding-right: 8px;
}

.oneSelectedSubtask {
    display: flex;
    justify-content: space-between;
}

.oneSelectedSubtask:hover{
    background-color: #f2f2f2;
}

.inputChangeSubtask{
    outline: none;
    border: 1px solid white;

}

.pencil-bin {
    display: flex;    
    gap: 4px;
}

.pencil-bin-separator {
    height: 100%;
    width: 1px;
    background-color: #A8A8A8;
}

.padding-left-16 {
    padding-left: 16px;
}

.list-group-item-category {
    display: flex;
    align-items: center;
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.input-group{
    border-radius: 10px;
}

/* #region search contact button */
.wrapper {
    width: 370px;
}

.select-btn {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
    border-radius: 10px;
    background: #fff;
}

.contentSearchContact {
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.contentSearchContact ul {
    padding-left: 8px;
}

.contentSearchContact .search {
    position: relative;
}

.search i {
    position: absolute;
    line-height: 53px;
    left: 15px;
    color: #000;
}

.search input {
    height: 48px;
    padding: 0 20px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #29ABE2;
}

/* #region samll up and down arrows */
.circleAroundDownArrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.circleAroundUpArrow:hover {
    background-color: #EEEEEE;
}

ul {
    padding: 10px;
}

.circleAroundUpArrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17px;
    right: 16px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.circleAroundDownArrow:hover {
    background-color: #EEEEEE;
}

/* #endregion small up and down arrows */

.selectAssignedTo {
    position: relative;
    width: 100%;
    background-color: white;
}

.contentSearchContact .selectAssignedTo {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 8px;
}

.selectAssignedTo::-webkit-scrollbar {
    width: 8px;

}

.selectAssignedTo::-webkit-scrollbar-track {
    background-color: white;
}

.selectAssignedTo::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 25px;
}


.selectAssignedTo li {
    height: 50px;
    border-radius: 10px;
}

.selectAssignedTo li:hover {
    background-color: #f2f2f2;
}

.d-none {
    display: none;
}

.buttonInContactListAddContact {
    bottom: -40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    
    background-color: #2A3647;
    cursor: pointer;
}

.dropdownAbsolutePositioned{
    position: absolute; 
    z-index: 1; 
    border-radius: 10px;
}

/* #endregion search contact button */

/* #region Validation */
.invalidMessage{
    color: #FF8190;
    font-size: 12px;
}

.redBorder{
    border: 1px solid #FF8190;
}

.blueBorder{
    border: 1px solid #29ABE2;
}

.form-control:focus {
    box-shadow: none;
  }
/* #endregion Validation */