.outer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

body {
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    padding-bottom: 24px;
}

.contentStandard {
    padding-left: 100px;
    padding-top: 100px;
}

@media(max-width: 900px),
(max-height: 900px) {
    .contentStandard {
        height: calc(100vh - 80px - 80px);
        padding-top: unset;
        overflow: scroll;        
    }

    .contentStandard::-webkit-scrollbar {
        display: none;
    }
}

@media(max-width: 1100px) {
    .left-0-top-3em-mobile {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 3em;
    }
}

@media(max-height: 900px) {
    .left-0-top-3em-mobile {
        padding-top: 1em;
        display: flex;
        justify-content: center;
    }
}

.contentFlowIn {
    display: flex;
    justify-content: center;
}

.panel {
    display: flex;
}

.height-48px {
    height: 48px;
}

.separator {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 24px;
    margin-right: 24px;
}

input {
    border-radius: 5px;
}

.property {
    padding-bottom: 24px;
    width: 440px;
}

.date-format::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

.list-item-display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item-display-flex-icon-name {
    display: flex;
    align-items: center;
    gap: 6px;
}

li:hover {
    background-color: gray;
}

.contactCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
}

.select-contacts-field {
    background-color: white;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;

}

#selected-contacts-circles-below {
    display: flex;
    gap: 8px;
    width: 200px;
    flex-wrap: wrap;
    padding-top: 8px;
}

.buttons_clear_create {
    display: flex;
    justify-content: flex-end;
    gap: 25px;    
}

.checkbox-modified {
    z-index: 0;
}

#subtask_wrapper img{
    position: absolute;
    top: calc(50% - 7px);
    right: 16px;
    z-index: 5;
}

.button-create-task {
    color: white;
    border-radius: 10px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 4px;
}

.button-create-task:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.button-clear {
    border-radius: 10px;
    background-color: #F6F7F8;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 4px;
}

.button-clear:hover {
    color: #29ABE2;
    background-color: #F6F7F8;
    border-color: #29ABE2;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.all-buttons-prio {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    gap: 16px;
}

.button-prio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 136px;
    height: 56px;
    border: 0px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 20%);
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
    cursor: pointer;
}

.button-prio:hover {
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.button-red {
    background-color: #FF3D00;
    color: white;
}

.button-orange {
    background-color: #FFA800;
    color: white;
}

.button-green {
    background-color: #7AE229;
    color: white;
}

.containArrow {
    position: relative;
    display: flex;
    align-items: center;
    width: 20px;
    height: 14.51px;
}

.arrowRedUrgent {
    position: absolute;
}

.arrowWhiteUrgent {
    position: absolute;
}

.arrowOrangeMedium {
    position: absolute;
}

.arrowWhiteMedium {
    position: absolute;
}

.arrowGreenLow {
    position: absolute;
}

.arrowWhiteLow {
    position: absolute;
}

.white-background {
    background-color: white;
    cursor: pointer;
}

.black-font {
    color: black;
}


.borderradius-10 {
    border-radius: 10px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.z-index-1 {
    z-index: 1;
}

.z-index-n1 {
    z-index: -1;
}

.selectedSubtasks {
    margin-top: 10px;
    height: 30px;
    overflow-y: auto;
    padding-right: 8px;
}

.oneSelectedSubtask {
    display: flex;
    justify-content: space-between;
}

.oneSelectedSubtask:hover {
    background-color: #f2f2f2;
}

.inputChangeSubtask {
    outline: none;
    border: 1px solid white;
    width: 100%;
}

.pencil-bin {
    display: flex;
    gap: 4px;
}

.pencil-bin-separator {
    height: 100%;
    width: 1px;
    background-color: #A8A8A8;
}

.padding-left-16 {
    padding-left: 16px;
}

.list-group-item-category {
    display: flex;
    align-items: center;
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.display-flex{
    display: flex;
}

.input-group {
    border-radius: 0;
}

.select-btn {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #DEE2E6;
}

.contentSearchContact {
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.contentSearchContact ul {
    padding-left: 8px;
}

.contentSearchContact .search {
    position: relative;
    width: 100%;
}

.search i {
    position: absolute;
    line-height: 53px;
    left: 15px;
    color: #000;
}

.search input {
    height: 48px;
    padding: 0 20px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #29ABE2;
}

.circleAroundDownArrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.circleAroundUpArrow:hover {
    background-color: #EEEEEE;
}

ul {
    padding: 10px;
}

.circleAroundUpArrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17px;
    right: 16px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.circleAroundDownArrow:hover {
    background-color: #EEEEEE;
}

.selectAssignedTo {
    position: relative;
    width: 100%;
    background-color: white;
}

.contentSearchContact .selectAssignedTo {
    max-height: 180px;
    overflow-y: auto;
    padding-right: 8px;
    margin-top: 16px;
}

.selectAssignedTo::-webkit-scrollbar {
    width: 8px;

}

.selectAssignedTo::-webkit-scrollbar-track {
    background-color: white;
}

.selectAssignedTo::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 25px;
}


.selectAssignedTo li {
    height: 50px;
    border-radius: 10px;
}

.selectAssignedTo li:hover {
    background-color: #f2f2f2;
}

.d-none {
    display: none;
}

.buttonInContactListAddContact {
    bottom: -40px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;

    background-color: #2A3647;
    cursor: pointer;
}

.dropdownAbsolutePositioned {
    position: absolute;
    z-index: 6;
    border-radius: 10px;
}

.invalidMessage {
    color: #FF8190;
    font-size: 12px;
}

.redBorder {
    border: 1px solid #FF8190;
}

.form-control:focus {
    box-shadow: none;
}

.outer-gray-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 10%);
    ;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-white {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 800px;
    width: 1000px;
}

.add-new-task-close {
    position: absolute;
    top: 48px;
    right: 48px;
    height: 32px;
    width: 32px;
    object-fit: contain;
    background-image: url('../assets/img/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.add-new-task-close:hover {
    cursor: pointer;
    background-image: url('../assets/img/icon_close_hover.png') !important;
}

/* @media(max-width: 1100px) {
    
} */

@media(max-width: 900px) {
    body {
        display: flex;
        flex-direction: column-reverse;
    }

    .fixed-mobile {
        position: fixed;
        bottom: 65px;
        background-color: #F6F7F8;
        padding-bottom: 12px;
        width: 302px;
    }

    .fixed-mobile-card {
        position: fixed;
        bottom: 5px;        
        background-color: white;
        padding-bottom: 12px;
        width: 302px;
    }

    .bigger-area-mobile{
        height: 120px !important;
    }
}

@media(max-width: 1100px), (max-height: 900px) {
    .buttons_clear_create {
        margin-bottom: 1em;
    }
}


@media (max-width: 1264px) {

    .hide-mobile {
        display: none;
    }

    h1 {
        font-size: clamp(3rem, 1rem + 5vw, 7rem);
    }

    .block-mobile {
        display: block;
    }


    .outer-gray-background {
        height: 100vh;
        width: 100%;
    }

    .content-white {
        height: 100vh !important;
        width: 100% !important;
        overflow: hidden;
        border-radius: 0 !important;
    }

    .addTaskContain {
        height: 78px;
        width: 320px;
        margin-top: 20px;
    }

    .wrap {
        flex-wrap: wrap;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        overflow: hidden;
    }

    .contentFlowIn {
        height: 100vh;
        overflow: scroll;
    }

    .panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .separator {
        display: none;
    }

    .button-prio {
        width: 90px !important;
        padding: 8px 5px 8px 5px !important;
    }

    .all-buttons-prio {
        gap: 8px !important;
        justify-content: space-between !important;
    }

    .containArrow {
        width: 15px !important;
    }

    .containArrow img {
        width: 15px !important;
    }

    .arrowRedUrgent {
        width: 15px !important;
    }

    .form-label,
    .property-name {
        display: flex;
        justify-content: flex-start;
    }

    .wrapper-category label {
        display: flex;
        justify-content: flex-start;
    }

    .property {
        width: 303px;
    }    

    
}
@media(min-width: 1264px){
    .contentStandard{
        height: 100vw;
    }
}