
body{ /* to be removed later */
    background-color: #F6F7F8;
}

h1{
    font-weight: 700;
    font-size: 61px;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 24px;
}

.panel {
    display: flex;
}

.separator {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
    margin-left: 24px;
    margin-right: 24px;
}

input {
    border-radius: 5px;
}

.property {
    padding-bottom: 24px;
}

.buttons_clear_create {
    display: flex;
    justify-content: flex-end;
    margin-top: 148px;
    gap: 25px;
}

.button-create-task {
    color: white;
    border-radius: 10px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 4px;
}

.button-create-task:hover{
    background-color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.button-clear {
    border-radius: 10px;
    background-color: #F6F7F8;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 4px;
}

.button-clear:hover{
    color: #29ABE2;
    background-color: #F6F7F8;
    border-color: #29ABE2;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.all-buttons-prio {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.button-prio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 136px;
    height: 56px;
    border: 0px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 20%);
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
}

.button-prio:hover{
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 20%);
}

.button-red{
    background-color: #FF3D00;
    color: white;
}

.button-orange{
    background-color: #FFA800;
    color: white;
}

.button-green{
    background-color: #7AE229;
    color: white;
}

.containArrow{
    position: relative;
    display: flex;
    align-items: center;
    width: 20px;
    height: 14.51px;
}

.arrowRedUrgent{
    position: absolute;
}

.arrowWhiteUrgent{
    position: absolute;
}

.arrowOrangeMedium{
    position: absolute;
}
.arrowWhiteMedium{
    position: absolute;
}

.arrowGreenLow{
    position: absolute;
}
.arrowWhiteLow{
    position: absolute;
}

.white-background {
    background-color: white;
    cursor: pointer;
}

.black-font{
    color: black;
}


.border-right-white{
    border-right: white;
}

.cursor-pointer{
    cursor: pointer;
}

.z-index-1{
    z-index: 1;
}

.z-index-n1{
    z-index: -1;
}

/* Bootstrap-Fix wegen nicht sichtbarer Fehlermeldung */

.invalid-feedback-mg {
    /* display: none;   mg */
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.valid-feedback-mg {
    /* display: none;  mg */
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--bs-form-valid-color);
}