.technicalTask {
    background-color: #1fd7c1;

}

.userStory {
    background-color: #0038FF;
}

.top-sidebar-area {
    display: flex;
    flex-direction: row;
}

.headlineB {
    width: 100%;
    height: 232px;
}

.boardSubtask {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 2px;
}

.is-hidden {
    display: none;
}

.headlineBoardMobile {
    display: none;
}

.TopBarAndBodyContain {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bodyBoard {
    margin: 0;
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden !important;
    background-color: #f6f7f8 !important;
}

.topBarContain {
    width: 1440px;
    height: 96px;
    display: flex;
    align-items: center;
    padding: 20px 40px 20px 348px;
}

.bodyContainer {
    background-color: #f6f7f8;
    height: 100vh;
    width: 100%;
}

.bodyContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #f1f1f1;
}

.bodyContainer::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 5px;
}

.bodyContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.headlineBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1056px;
    height: 73px;
    margin-top: 79.5px;
    margin-left: 64px;
}

.headlineBoard h1 {
    display: flex;
    width: 176px;
    height: 73px;
    gap: 1px;
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
}

.headlineBoard1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 504px;
    height: 48px;
    gap: 32px;
}

.inputBoard {
    border: none;
    outline: none;
}

.inputBoard1{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f6f7f8;
}

.inputBoard::placeholder {
    width: 100px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #D1D1D1;
}

.searchContainer {
    display: flex;
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background-color: #ffffff;
}

.sC1 {
    width: 280px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    width: 48px;
    height: 32px;
    gap: 16px;
}

.search:hover {
    cursor: pointer;
}

.headlineButton {
    display: flex !important;
    align-items: center !important;
    width: 160px;
    height: 48px;
    border: 1px solid #2A3647 !important;
    border-radius: 10px !important;
    padding: 8px 16px 8px 16px !important;
    gap: 4px;
    background-color: #2A3647 !important;
}

.hlB1 {
    height: 32px;
    width: 32px;
}

.headlineButton p {
    width: 92px;
    height: 24px;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 25.2px !important;
    color: #ffffff;
    margin-bottom: 0;
}

.headlineButton:hover {
    cursor: pointer;
}

.headlineBoard2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1208px;
    height: 24px;
    top: 200.5px;
    padding: 0px 64px 0px 64px;
    position: absolute;
}

.hlB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 244px;
    height: 24px;
    margin-bottom: 10px;

}

.hlB p {
    font-weight: 700;
    color: #42526e;
    width: 152px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.addheadlineButton {
    width: 24px;
    height: 24px;
}

.addheadlineButton:hover {
    cursor: pointer;
}

.boardContainer {
    display: flex;
    justify-content: space-between;
    width: 1208px;
    height: 688px;
    margin-top: 57px;
    padding: 0px 64px 0px 64px;
    gap: 26px;
    background-color: #f6f7f8;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 260px;
    gap: 14px;
    overflow: auto;
}

.taskContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #f1f1f1;
}

.taskContainer::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 5px;
}

.taskContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.noTaskContainer {
    width: 246px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    margin-top: 24px;
}

.noTaskContainer1 {
    width: 111px;
    height: 19px;
}

.noTaskContainer2 {
    width: 137px;
    height: 19px;
}

.noTaskContainer1 p,
.noTaskContainer2 p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #A8A8A8;
    margin-bottom: 0;
}

.cards {
    width: 252px;
    max-height: 263px;
    padding: 16px;
    border-radius: 24px;
    gap: 10px;
    display: grid;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
    margin-bottom: 10px;
}

.cards:hover {
    cursor: pointer;
}

.hauptContainer:hover {
    cursor: pointer;
}

.frame119 {
    width: 220px;
    max-height: 231px;
    gap: 24px;
    display: grid;
}

.labelsBoardCardlabel {
    min-width: 113px;
    max-width: 144px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    gap: 10px;
    display: grid;
    transform: rotate(0deg);
}

#cardLabel {
    min-width: 81px;
    max-width: 112px;
    height: 19px;
    transform: rotate(0deg);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
}

.frame114 {
    width: 220px;
    height: 84px;
    border-radius: 10px;
    gap: 8px;
    display: grid;
}

#boardTitle {
    width: 220px;
    height: 38px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3647;
}

#content {
    width: 220px;
    height: 38px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #A8A8A8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#progress-container {
    width: 128px;
    height: 8px;
    top: 4px;
    padding: 0px 0px 0px 0px;
    border-radius: 8px;
    display: grid;
    gap: 10px;

}

.bar {
    background: #4589FF;
    width: 0px;
    height: 8px;
    border-radius: 16px;
}

.prgBar {
    width: 220px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressAdvanced {
    width: 80px;
    height: 14px;
    left: 139px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.Subtasks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame139 {
    width: 220px;
    height: 32px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#frame217 {
    width: 80px;
    height: 32px;
    display: flex;
    align-items: center;
}

#prioritySymbols {
    width: 32px;
    height: 32px;
    padding: 10px 18px 10px 18px;
    display: grid;
    gap: 10px;
    transform: rotate(0deg);
    position: relative;
}

.prioBaja {
    width: 17px;
    height: 12px;
    transform: rotate(0deg);
}

.capa2 {
    width: 17px;
    height: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
}

.profileBadge1 {
    width: 32px;
    height: 32px;
    border-radius: 45px;
    display: grid;
    gap: 10px;
    color: #ffffff;
}

.Group9 {
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;

}

.eclipse5 {
    width: 32px;
    height: 32px;
    background: linear-gradient(0deg, #FF7A00, #FF7A00),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #FFFFFF;
    border-radius: 45px;
}

.initialContain {
    position: relative;
    width: 21.33px;
    height: 7.62px;
    top: 17.19px;
    left: 4.33px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

#detailCard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.taskOverlay {
    border-radius: 30px;
    padding: 48px 40px 48px 40px;
    gap: 24px;
    display: grid;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000029;
    position: absolute;
    z-index: 3;
}

.frame203 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#frame113 {
    min-width: 160px;
    max-width: 203px;
    height: 36px;
    border-radius: 8px;
    padding: 4px 24px 4px 24px;
    display: grid;
    gap: 10px;
    transform: rotate(0deg);
    background-color: #0038FF;
}

#taskContain {
    min-width: 112px;
    max-width: 155px;
    height: 28px;
    transform: rotate(0deg);
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 0;
}

#close1 {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close1:hover {
    cursor: pointer;
}

.close2 {
    width: 24px;
    height: 24px;
    color: #2A3647;
}

#taskOverlayHeadline,
.taskOverlineHeadline {
    width: 445px;
    font-family: 'Inter';
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
}

#descriptionContain {
    overflow-wrap: break-word;
    overflow-y: auto;
    width: 445px;
    height: 52px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
}

.frame179 {
    width: 445px;
    height: 24px;
    display: flex;
    gap: 25px;
}

.taskOverlayDate {
    width: 92px;
    height: 24px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
}

.taskOverlayNumber {
    width: 111px;
    height: 24px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.frame178 {
    width: 445px;
    height: 32px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.priority {
    width: 73px;
    height: 24px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3647;
    margin-bottom: 0;

}

#priorityButton {
    width: 139px;
    height: 32px;
    border-radius: 10px;
    padding: 4px 18px 4px 18px;
    display: flex;
    gap: 10px;
}

#medium {
    width: 100px;
    height: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
}

#prioMedia {
    width: 17px;
    height: 6.33px;
}

.frame214 {
    width: 445px;
    max-height: 208px;
    display: grid;
    gap: 8px;
}

.assignedTo {
    width: 445px;
    height: 24px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
    color: #2A3647;
    margin-bottom: 0;
}

#frame204 {
    width: 445px;
    height: 75px;
    display: grid;
    gap: 4px;
    overflow-y: scroll;
}

#frame204::-webkit-scrollbar {
    display: none;
}

.contactContain {
    width: 428px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px 7px 16px;
}

.frame191 {
    width: 231px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.profileBadge {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100%;
    background-color: aqua;
}

.frame1 {
    display: flex;
}

#userName6 {
    height: 23px;
    min-width: 158px;
    font-family: 'Open Sans';
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
}

.frame215 {
    width: 445px;
    height: 100px;
    gap: 8px;
    overflow: hidden;
    display: grid;
}

.subtasks {
    width: 445px;
    height: 24px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3647;
    margin-bottom: 0;
}

#subtaskContain {
    overflow-y: scroll;
    height: 69px;
}

#subtaskContain::-webkit-scrollbar {
    width: 5px;
}

.subtasksCheck {
    width: 344px;
    height: 32px;
    padding: 6px 16px 6px 16px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.frame20 {
    width: 159px;
    height: 24px;
    gap: 8px;
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

#contactForm {
    max-width: 272px;
    height: 19px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-bottom: 0;
}

.deleteContact {
    width: 81px;
    height: 24px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.deleteContact:hover {
    cursor: pointer;
}

.deleteText {
    width: 49px;
    height: 19px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #2A3647;
    margin-bottom: 0;
}

.deleteContain {
    width: 24px;
    height: 24px;
}

.deleteIcon {
    width: 16px;
    height: 18px;
    top: 3px;
    left: 4px;
    color: #2A3647;
}

.vector3 {
    height: 24px;
    border: 1px;
    background: #D1D1D1;
    border: 1px solid #D1D1D1
}

.editContacts {
    width: 62px;
    height: 24px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.saveContacts {
    width: 62px;
    height: 24px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.editContacts:hover, .saveContacts:hover {
    cursor: pointer;
}

.inputBoard{
    width: 100%;
}

.saveButton {
    border-radius: 9px;
    background-color: rgb(42, 54, 71);
    color: rgb(255, 255, 255);
}


.editIcon {
    width: 18.27604103088379px;
    height: 18.25px;
    top: 2.75px;
    left: 3px;
    color: #2A3647;
}

.editText {
    width: 30px;
    height: 19px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
}

@media (max-width: 1444px) {
    .topbar-area {
        max-width: 100%;
    }

    .bodyContainer {
        width: 100%;
        height: 100vh;
        overflow: scroll;
    }

    .headlineBoard {
        width: 1030px;
    }

    .boardContainer {
        width: 100%;
        gap: 12px;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .boardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .headlineBoard {
        display: none;
    }

    .headlineBoardMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .boardContainMobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }

    .boardContainMobile h1 {
        text-align: center;
        padding-bottom: 0;
        font-weight: 400;
    }

    .headlineBoard1Mobile {
        height: 42px;
        width: 42px;

    }

    .headlineButton {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .searchContainerMobile {
        display: flex;
        width: 307px;
        height: 48px;
        border-radius: 10px;
        border: 1px solid #A8A8A8;
        padding: 8px 16px 8px 16px;
        gap: 10px;
        background-color: #ffffff;
    }

    .sC1Mobile {
        width: 280px;
        height: 32px;
        display: flex;
        justify-content: space-between;
    }
}


@media (max-height: 900px) {
    .bodyContainer {
        overflow-y: scroll;
    }
}

@media (max-width: 900px) {
    .sideBarBoard {
        width: 100%;
    }

    .bodyContainer {
        height: 76vh;
    }

    .taskContainer {
        height: 307px;
    }

    .frame203, .frame179, .frame178, .frame214, #frame204, .frame215 {
        width: 284px;
    }

    #taskOverlayHeadline {
        width: 284px;
        font-size: 34px;
        line-height: 38px;
    }

    #descriptionContain {
        width: 284px;
    }

    .assignedTo, .contactContain, .subtasks {
        width: 284px;
    }

    .taskOverlay {
        gap: 20px;
        width: 353px;
    }

    .frame20 {
        bottom: 20px;
        right: 20px;
    }

    #searchInputMobile {
        width: 215px !important;
    }
}