.bodyContainer {
    background-color: #f6f7f8;
    height: 232px;
    width: 1208px;
    top: 96px;
    left: 232px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headlineBoard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 48vh;
}

.headlineBoard1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

.inputBoard {
    border: none;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #bababa;
    height: 38px;
    width: 17vw;
    border-radius: 8px;
    margin-right: 10px;
}
.search {
    height: 16px !important;
    border-left: 1px solid #bababa;
    width: 35px;
}

.search:hover {
    cursor: pointer;
}

.headlineButton {
    margin-left: 10px;
    height: 38px !important;
    background-color: #2a3647 !important;
    border-color: #2a3647 !important;
}

.headlineBoard2 {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
}

.hlB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
    margin-left: 13px;
    margin-right: 13px;
}

.hlB p {
   font-weight: bold;
   text-align: center;
   margin-bottom: 0;
}

.addheadlineButton {
    height: 20px;
}