body {
    display: flex;
    background-color: rgb(246,247,248);
}

.contact-windows {
    display: flex;
}



/* contacts list */

.contacts {
    height: 928px;
    width: 456px;
    box-shadow: 4px 0px 4px rgba(0 0 0 / 10%);
    overflow-y: scroll;
    background-color: white;
}

.contacts::-webkit-scrollbar {
    width: 24px;
}

.contacts::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 16px;
    border: 8px solid transparent;
    background-clip: content-box;
}

.contacts::-webkit-scrollbar-button:single-button {
    display: flex;
    align-items: center;
    height: 32px;
}

.contacts::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../assets/img/scrollbar_up_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}

.contacts::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('../assets/img/scrollbar_down_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}


.contacts-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 32px 24px;
}



/* button new contact */

.btn-new-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 352px;
    background-color: rgb(42, 54, 71);
    color: white;
    font-size: 21px;
    font-weight: 700;
    border-radius: 10px;
    padding: 12px;
}

.btn-new-contact-icon {
    height: 32px;
    width: 32px;
    object-fit: contain;
}



/* contacts content */

#contacts-list {
    display: flex;
    flex-direction: column; 
    gap: 8px;
    width: 352px;
}

.contacts-letter-headline {
    font-size: 20px;
    font-weight: 400;
    padding: 17px 36px;
}

.contacts-separator {
    border: 1px solid lightgray;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    color: white;
    background-color: rgb(255,122,0);
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-name {
    font-size: 20px;
    font-weight: 400;
}

.contact-email {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0,124,237);
}



/* contact data */
.contact-data {
    height: 928px;
    width: 300px;
}