.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headlineLogin {
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      #24a8e7, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}