/* default */

.sidebar-t-d-none {
    text-decoration: none;
}

.sidebar-t-d-none:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 25, 49);


    .sidebar-icon-summary {
        background-image: url('../assets/img/icon_summary_side_hover.png');
    }

    .sidebar-icon-add_task {
        background-image: url('../assets/img/icons_add_task_side_hover.png');
    }

    .sidebar-icon-board {
        background-image: url('../assets/img/icon_board_side_hover.png');
    }

    .sidebar-icon-contacts {
        background-image: url('../assets/img/icon_contacts_side_hover.png');
    }
}



/* sidebar area */

.sidebar-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 232px;
    background-color: rgb(42, 54, 71);
}

@media(max-width: 900px) {
    .sidebar-panel {
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 100%;
    }
}

.sidebar-logo {
    height: 121.97px;
    width: 100.03px;
    margin-top: 64px;
}

@media(max-width: 900px) {
    .sidebar-logo {
        display: none;
    }
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media(max-width: 900px) {
    .sidebar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.sidebar-nav-member {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px 56px;
    font-size: 16px;
    color: rgb(205, 205, 205);
}

@media(max-width: 900px) {
    .sidebar-nav-member {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 76px;
        width: 80px;
        border-radius: 16px;
        padding: unset;
    }
}

.sidebar-icon {
    height: 30px;
    width: 30px;
    background-size: contain;
}

.sidebar-icon-summary {
    background-image: url('../assets/img/icon_summary_side.png');
}

.sidebar-icon-add_task {
    background-image: url('../assets/img/icon_add_task_side.png');
}

.sidebar-icon-board {
    background-image: url('../assets/img/icon_board_side.png');
}

.sidebar-icon-contacts {
    background-image: url('../assets/img/icon_contacs_side.png');
}

@media(max-width: 900px) {
    .sidebar-text {
        font-size: 14px;
    }
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    width: 100%;
    margin-bottom: 64px;
}

@media(max-width: 900px) {
    .sidebar-footer {
        display: none;
    }
}

@media (min-height: 850px) {
    .sidebar-footer {
        height: 317px;
    }
}