.sidebar-t-d-none {
    text-decoration: none;
}

.sidebar-t-d-none:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 25, 49);


    .sidebar-icon-summary {
        background-image: url('../assets/img/icon_summary_side_hover.png');
    }

    .sidebar-icon-add_task {
        background-image: url('../assets/img/icons_add_task_side_hover.png');
    }

    .sidebar-icon-board {
        background-image: url('../assets/img/icon_board_side_hover.png');
    }

    .sidebar-icon-contacts {
        background-image: url('../assets/img/icon_contacts_side_hover.png');
    }
}

.sidebar-panel {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 232px;
    background-color: rgb(42, 54, 71);
}

.sidebar-logo {
    height: 121.97px;
    width: 100.03px;
    margin-top: 64px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-nav-member {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px 56px;
    font-size: 16px;
    color: rgb(205, 205, 205);
}


.sidebar-icon {
    height: 30px;
    width: 30px;
    background-size: contain;
}

.sidebar-icon-summary {
    background-image: url('../assets/img/icon_summary_side.png');
}

.sidebar-icon-add_task {
    background-image: url('../assets/img/icon_add_task_side.png');
}

.sidebar-icon-board {
    background-image: url('../assets/img/icon_board_side.png');
}

.sidebar-icon-contacts {
    background-image: url('../assets/img/icon_contacs_side.png');
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    width: 100%;
    margin-bottom: 64px;
}