/* default */

.topbar-t-d-none {
    text-decoration: none;
}

.topbar-d-none {
    display: none !important;
}



/* topbar area */

.topbar-area {
    display: inline-block;
    position: relative;
}

.topbar-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: calc(1440px - 384px - 40px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0 0 0 / 10%);
    padding-left: calc(384px - 232px);
    padding-right: 40px;
}

.topbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.topbar-icon {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

.topbar-user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border: 3px solid rgb(42, 54, 71);
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    color: rgb(41, 170, 227);
}

.topbar-user-profile:hover {
    cursor: pointer;
    background-color: rgb(226,230,236);
}

#context-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: calc(158px - 20px);
    width: calc(150px - 20px);
    background-color: rgb(42, 54, 71);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: 16px;
    padding: 10px;
}

.context-menu-member {
    padding: 8px 12px;
    font-size: 16px;
    color: rgb(205, 205, 205);
}

.context-menu-member:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 25, 49);
}