/* default */

.t-d-none {
    text-decoration: none;
}



/* sidebar area */

.topbar-panel {
    height: 96px;
    width: 1440px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0 0 0 / 10%);
}