<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- local css -->
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/topbar_template.css">
</head>

<body>

    <div class="topbar-panel d-flex-col">
        <h3>Kanban Project Management Tool</h3>
        <nav class="topbar-nav">
            <img class="topbar-icon" src="../assets/img/icon_help.png" alt="">
            <div class="topbar-user-profile">
                <span id="topbar-user-profile-letter">SS</span>
            </div>
        </nav>
    </div>

</body>

</html>