<form class="form_container form_forgotPassword">
    <div class="login_headline">I forgot my password</div>
    <div class="login_blueLine"></div>

    <span class="dontWorry">Don't worry! We will send you an email with the instructions to reset your password.</span>


    <div class="form_group_container">
        <div class="form-group">
            <input type="email" class="form-control input_login input_mail" id="inputEmail" aria-describedby="emailHelp"
                placeholder="Email">
        </div>
    </div>

        <button type="submit" class="btn_filled btn_join">Send me the email</button>
</form>