<form class="form_container form_forgotPassword" style="gap: 35px;">
    <a href="index.html" class="backToLogin"><img src="assets/img/arrowLeft.svg"></a>
    <div class="login_headline">I forgot my password</div>
    <i class="blueLine"></i>
    <span class="dontWorry">Don't worry! We will send you an email with the instructions to reset your password.</span>
    <input type="email" class="form-control input_login input_mail" style="margin-bottom: 0 !important;" id="inputEmail"
        aria-describedby="emailHelp" placeholder="Email">
    <button type="submit" class="btn_filled btn_join">Send me the email</button>
</form>