<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="add-new-contact-panel">
        <div class="add-new-contact-area" id="add-new-contact">
            <div class="add-new-contact-sidebar">
                <img class="add-new-contact-logo" src="./assets/img/join_logo_white.png" alt="">
                <h1 class="add-new-contact-headline">Add contact</h1>
                <span class="add-new-contact-text">Tasks are better with a team!</span>
                <div class="add-new-contact-separator"></div>
            </div>
            <div class="add-new-contact-input-mask">
                <div class="add-new-contact-close"
                    onclick="openAndCloseAddNewEditContact('add-new-contact-include-HTML', 'add-new-contact')"></div>
                <span class="add-new-contact-profile-icon"></span>
                <form class="add-new-contact-form" onsubmit="addNewContact(); return false">
                    <input class="add-new-contact-input-name add-new-contact-input" type="text" placeholder="Name"
                        required id="add-new-name">
                    <input class="add-new-contact-input-email add-new-contact-input" type="email" placeholder="Email"
                        required id="add-new-email">
                    <input class="add-new-contact-input-phone add-new-contact-input" type="number" placeholder="Phone"
                        required id="add-new-phone">
                    <div class="add-new-contact-button-area">
                        <button type="reset"
                            onclick="openAndCloseAddNewEditContact('add-new-contact-include-HTML', 'add-new-contact')"
                            class="add-new-contact-button-left">
                            <span>Cancel</span>
                            <div class="add-new-contact-button-left-icon"></div>
                        </button>
                        <button type="submit" class="add-new-contact-button-right" onclick="initAddTask();">
                            <span>Create contact</span>
                            <img class="add-new-contact-button-right-icon" src="./assets/img/check.svg" alt="">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>