<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="add-new-contact-panel">
        <div class="add-new-contact-area" id="edit-contact">
            <div class="add-new-contact-sidebar">
                <img class="add-new-contact-logo" src="./assets/img/join_logo_white.png">
                <h1 class="add-new-contact-headline">Edit contact</h1>
                <div class="add-new-contact-separator"></div>
            </div>
            <div class="add-new-contact-input-mask">
                <div class="add-new-contact-close"
                    onclick="openAndCloseAddNewEditContact('edit-contact-include-HTML', 'edit-contact')"></div>
                <span class="edit-contact-profile-icon" id="edit-contact-profile-icon"></span>
                <form class="add-new-contact-form" onsubmit="editContact(); return false">
                    <input class="add-new-contact-input-name add-new-contact-input" type="text" placeholder="Name"
                        required id="edit-name">
                    <input class="add-new-contact-input-email add-new-contact-input" type="email" placeholder="Email"
                        required id="edit-email">
                    <input class="add-new-contact-input-phone add-new-contact-input" type="number" placeholder="Phone"
                        required id="edit-phone">
                    <div class="add-new-contact-button-area">
                        <button type="reset" onclick="deleteContact()"
                            class="add-new-contact-button-left edit-contact-button-left">
                            <span id="edit-contact-btn-text-del">Delete</span>
                        </button>
                        <button type="submit" class="add-new-contact-button-right edit-contact-button-right"
                            id="edit-contact-btn-save">
                            <span id="edit-contact-btn-text-save">Save</span>
                            <img class="add-new-contact-button-right-icon" src="./assets/img/check.svg" alt="">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>