<form class="form_container form_login" onsubmit="login(); return false;">
    <div class="login_headline">Log in</div>
    <i class="blueLine"></i>
    <div class="form_group_container">
        <div class="form-group">
            <input type="email" class="form-control input_login input_mail" id="inputEmail" aria-describedby="emailHelp"
                placeholder="Email" autocomplete="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input_login input_password" id="inputPassword"
                placeholder="Password" onkeyup="updateInputState(this, 'btn_reveal1')"
                onkeypress="updateInputState(this, 'btn_reveal1')" autocomplete="current-password">
            <img src="assets/img/lock.svg" class="btn_reveal" id="btn_reveal1"
                onclick="toggleReveal(this, 'inputPassword')">
            <div class="password_warning invisible" id="password_warning">Wrong user or password! Try again.</div>
        </div>
    </div>
    <div class="loginOptions">
        <label class="custom-checkbox">
            <input type="checkbox" id="myCheckbox">
            <span class="checkbox-icon"></span>
            Remember me
        </label>
        <p class="password_forgotten" onclick="loadHTML('formElement', 'forgotPassword.html'); toggleUiElements('forgotPassword.html');">I forgot my password</p>
    </div>
    <div class="loginButtonContainer">
        <button type="submit" class="btn_filled btn_join">Log in</button>
        <button type="button" class="btn_outlined btn_join" onclick="guest();">Guest Log in</button>
    </div>
</form>