<form class="form_container form_resetPassword" onsubmit="resetPassword()">
    <a href="index.html" class="backToLogin"><img src="assets/img/arrowLeft.svg"></a>
    <div class="login_headline">Reset your password</div>
    <i class="blueLine"></i>
    <span class="dontWorry">Change your account password.</span>
    <div>
        <input type="password" class="form-control input_login input_password" style="margin-bottom: 13px !important;"
            id="inputPassword1" placeholder="New password">
        <input type="password" class="form-control input_login input_password" style="margin-bottom: 13px !important;"
            id="inputPassword2" placeholder="Confirm password">
    </div>
    <button type="submit" class="btn_filled btn_join">Continue</button>
</form>