<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="sidebar-panel">
        <img class="sidebar-logo" src="assets/img/join_logo_white.png" alt="logo">
        <nav class="sidebar-nav" id="sidebar-nav">
            <a href="#" class="sidebar-nav-member sidebar-t-d-none" onclick="getSummary();" id="sidebar-summary">
                <div class="sidebar-icon sidebar-icon-summary"></div>
                <span class="sidebar-text">Summary</span>
            </a>
            <a href="#" class="sidebar-nav-member sidebar-t-d-none" onclick="getAddTask();" id="sidebar-add_task">
                <div class="sidebar-icon sidebar-icon-add_task"></div>
                <span class="sidebar-text">Add Task</span>
            </a>
            <a href="#" class="sidebar-nav-member sidebar-t-d-none" onclick="getBoard();" id="sidebar-board">
                <div class="sidebar-icon sidebar-icon-board"></div>
                <span class="sidebar-text">Board</span>
            </a>
            <a href="#" class="sidebar-nav-member sidebar-t-d-none" onclick="getContacts();" id="sidebar-contacts">
                <div class="sidebar-icon sidebar-icon-contacts"></div>
                <span class="sidebar-text">Contacts</span>
            </a>
        </nav>
        <footer class="sidebar-footer">
            <a href="privacypolicy.html" class="sidebar-nav-member sidebar-t-d-none" target="_blank">Privacy Policy</a>
            <a href="legalnotice.html" class="sidebar-nav-member sidebar-t-d-none" target="_blank">Legal Notice</a>
        </footer>
    </div>

</body>

</html>