<div class="contentContainer">
    <div class="headline-subcontainer-panel">
        <div class="contact-data-headline summary-headline">
            <h1 class="contact-data-headline-left">Summary</h1>
            <div class="contact-data-headline-subContainer">
                <div class="contact-data-headline-separator"></div>
                <span class="contact-data-headline-right">Everything in a nutshell!</span>
            </div>
        </div>
        <div class="contentSubcontainer">
            <div class="panelContainer">
                <div class="panelRow">
                    <div class="tasksPanel" onclick="getBoard();">
                        <div class="variablePanel" id="variablePanel1"></div>
                        <div class="font20px400">Tasks in<br>Board</div>
                    </div>
                    <div class="tasksPanel" onclick="getBoard();">
                        <div class="variablePanel" id="variablePanel2"></div>
                        <div class="font20px400">Tasks in<br>Progress</div>
                    </div>
                    <div class="tasksPanel" onclick="getBoard();">
                        <div class="variablePanel" id="variablePanel3"></div>
                        <div class="font20px400">Awaiting<br>Feedback</div>
                    </div>
                </div>
                <div class="rowUrgent" onclick="getBoard();">
                    <div class="urgentTask">
                        <div class="urgentImageContainer">
                            <img src="assets/img/Capa_2_white.svg" alt="arrowUp">
                        </div>
                        <div class="urgentTextContainer">
                            <div class="variablePanel" id="variablePanel4"></div>
                            <div class="font16px400">Urgent</div>
                        </div>
                    </div>
                    <div class="verticalGreyLine"></div>
                    <div class="deadline">
                        <div class="font21px700" id="deadlineDate">October 16, 2022</div>
                        <div class="font16px400">Upcoming Deadline</div>
                    </div>
                </div>
                <div class="panelRow">
                    <div class="otherTasksContainer" onclick="getBoard();">
                        <div class="edit">
                            <div class="edit-icon"></div>
                        </div>
                        <div class="editTextSummary">
                            <div class="variablePanel" id="variablePanel5"></div>
                            <div class="font20px400">To-Do</div>
                        </div>
                    </div>
                    <div class="otherTasksContainer" onclick="getBoard();">
                        <div class="done">
                            <div class="done-icon"></div>
                        </div>
                        <div class="editTextSummary">
                            <div class="variablePanel" id="variablePanel6"></div>
                            <div class="font20px400">Done</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="summary-greeting">
                <div class="greetingContainer">
                    <div class="font47px500" id="greeting">Welcome,</div>
                    <div class="font64px700" style="color: #29ABE2;" id="greetingName">Guest</div>
                </div>
            </div>
            <div class="greetingMobileContainer" id="greetingMobileContainer">
                <div class="greetingMobileMessage" id="greetingMobileMessage"></div><br>
                <div class="greetingMobileName" id="greetingMobileName"></div>
            </div>
        </div>
    </div>
</div>